#root {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
}
#settings {
  display: none;
  position: absolute;
  width: 80%;
  height: 50px;
  line-height: 50px;
  top: 0px;
  background-color: rgb(180, 180, 180);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#loading-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  
}
#container {  
  width: 100vw;
  display: none;
  /*height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;*/
}
#container img {  
  position: relative;
  cursor: pointer;
  transition: all .25s, z-index 0s;
  border-radius: 3px;
  border: 1px solid rgb(40, 40, 40)
}
#container img.left {  
  transform: perspective( 600px ) rotateY( 66deg );
}
#container img.middle {  
}
#container img.right {  
  transform: perspective( 600px ) rotateY( -66deg );
}
